{% extends 'base.html' %}

{% block title %} explore {% end %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
            <b>I am Explore</b><br>
        </div>
        <hr>
        {% for post in posts %}
            <a href="/post/{{ post.id }}">
                <img class="img-fluid" src="{{ static_url(post.image_url) }}" width="300px" height="300px">
            </a>
            &emsp;&emsp;&emsp;
        {% end %}
    </div>

{% end %}