{% extends 'base.html' %}

{% block title %}regist{% end %}


{% block content %}
    <h3 class="page-title">注册</h3>

    {% if msg %}
        <div class="tip_message" >
            <h4>
                {{ msg }}
            </h4>

        </div>
    {% end %}

    <form action="/regist" method="POST" enctype="multipart/form-data">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="手机号码" name="telephone" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="用户名" name="username" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码" name="password1" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="确认密码" name="password2" required="">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">立即注册</button>
            </div>
        </div>
    </form>
{% end %}